* {
  /* margin: 0;
	padding: 0; */
  box-sizing: border-box;
}

.header {
  /* position: relative; */
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 100%;
  height: 100px;
  /* background-color: aqua; */
  padding: 0 1rem;
  border-bottom: 2px solid #000;
}

img {
  max-width: 100%;
}

.search-box,
#menu,
.logo {
  margin-top: 20px;
}

.cart-icon {
  position: absolute;
  top: 10px;
  right: 25px;
}

.logo {
  /* flex: 1; */
  font-size: 0.5rem;
}

.search-box {
  position: relative;
}

.search-box input {
  height: 30px;
  width: 100%;
  text-align: center;
  border-radius: 30px;
  font-weight: 600;
  border: none;
  outline: none;
  background: #f2f2f2;
}

.search-box button {
  height: 25px;
  width: 25px;
  border-radius: 30px;
  position: absolute;
  top: 2.3px;
  right: 3px;
  border: none;
  background-color: green;
  color: #f2f2f2;
  transform: scale(0.9);
}

#menu {
  font-size: 1.8rem;
  border: none;
  /*border: 1px solid rgba(0,0,0,.3);*/
  padding: 3px 7px 6px;
  background-color: transparent;
  color: #000;
}

#menu::before {
  content: "☰";
}

#menu.open::before {
  content: "X";
}

.navigation {
  position: fixed;
  top: 100px;
  left: 0;
  display: flex;
  flex-direction: column;
  list-style: none;
  background-color: black;
  color: #fff;
  width: 50%;
  padding: 0px;
  transition: right 0.5s linear;
}

.navigation li {
  display: none;
}

.navigation li a {
  display: block;
  padding: 1rem;
  text-align: center;
  text-decoration: none;
  color: #fff;
}

/* .navigation li a:hover {

} */

.open li {
  display: block;
  width: 100%;
}

.open li a {
  display: block;
}

.product-listing {
  /* display: grid;
	grid-template: auto/repeat(4, 1fr) ; */
  display: flex;
  flex-flow: row wrap;
  justify-content: space-between;
  list-style-type: none;
  padding: 1rem;
}

main {
  background-color: #2e2e2e;
}

footer {
  padding: 1rem;
}

/****** now **************/
.product-listing a {
  text-decoration: none;
}

#title {
  color: #f2f2f2;
  text-align: center;
}

.product {
  padding: 2rem 0;
}

.product li {
  list-style-type: none;
}

#detail-info {
  background-color: #3d3d3d;
  color: #f2f2f2;
}

#detail-info p {
  padding: 0 1rem;
}

.top {
  margin-top: -10px;
}

#detail-info,
#product-img {
  border-radius: 5px;
}

@media (min-width: 768px) {
  .navigation {
    position: relative;
    top: 0;
    flex-direction: row;
    justify-content: right;
    background-color: aqua;
  }

  .navigation li {
    display: block;
  }

  #menu {
    display: none;
  }

  .cart-icon {
    position: relative;
    top: 0px;
    left: 0px;
    justify-items: center;
  }

  .cart-icon img {
    display: block;
    margin-left: auto;
    margin-right: auto;
  }

  .logo,
  .search-box,
  .cart-icon {
    margin-top: 0px;
    flex: 1;
    font-size: 1rem;
  }

  .search-box {
    flex: 2;
    height: 40px;
  }

  .search-box input {
    height: 40px;
  }

  .search-box button {
    height: 40px;
    width: 40px;
    top: 0;
    right: 1px;
  }

  ul.product {
    max-width: 700px;
    margin: auto;
    display: grid;
    grid-template: auto/ repeat(2, 1fr);
  }
}
