<div class="header">
    <div class="logo"><h1>LOGO</h1></div>
    <div class="cart-icon">
      <img src="images/icons/shopping-cart.png" alt="Shopping cart icon by flavicon">
      <span class="product-num"></span>
    </div>
    <div class="search-box">
      <form action="">
        <input type="text" name="search" id="chk1" placeholder="Search">
        <button type="submit" ><i class="fa fa-search"></i></button>
      </form>
    </div>
    <ul class="navigation">
      <li><a href="">DELL</a></li>
      <li><a href="">HP</a></li>
      <li><a href="">APPLE</a></li>
      <li><a href="">TOSHIBA</a></li>
    </ul>

    <button id="menu"></button>
  </div>