<div class="header">
    <div class="logo"><h1>LOGO</h1></div>
    <div class="search-box">
      <form action="">
        <input type="text" name="search" id="chk1" placeholder="Search">
        <button type="submit" ><i class="fa fa-search"></i></button>
      </form>
    </div>
    <div class="cart-icon">
      <a href="../../watch-list/index.html">
      <img src="../images/icons/watch-list-32.png" alt="Shopping cart icon by flavicon">
      <span class="product-num"></span>
     </a>
    </div>
    <button id="menu"></button>
</div>